:root {
    --black: #000000;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: orangered;
    --magenta: orangered;
    --aqua: orangered;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}










body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    

}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}


/* intro styles */







.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
    font-weight: 300;
    
}




/* contact section */

#contact {position: realtive;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}





/* navigation */

nav {
    font-family: var(--mono);
    font-size: 80%;
  padding: 2.5rem 5rem;
  display: block;
   
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: black;
  
  
    
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
    
}

nav [class*="fa-linkedin"] {
    font-size: 170%;
    color: #0077b5;
}
nav [class*="fa-github"] {
    font-size: 170%;
    color: #4078c0;
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: rgb(165, 164, 164);
}

nav a {
    color: #838383;
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--magenta);
}
nav [class*="fa-linkedin"]:hover {
    color: #6298b4;
}
nav [class*="fa-github"]:hover {
    color: #9bc1d4;
}

.button {
    background-color: var(--magenta);
    color: rgb(0, 0, 0);
    padding: 0.3rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: small;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.button:hover {
    color: white;
    background-color: orangered;
}


/* footer section */



@media (min-width: 850px) {
    nav {
        max-width: 1350px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}
a.hover-underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ff4500;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.8s ease-in-out;
  }
  a.hover-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  a.hover-underline:hover {
    color: orangered
    
  }
  nav a {
    position: relative;
    text-decoration: none;
   ;
    
    display: block;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }
  
  
  
  body {
    
    
    
    
    line-height: 1.6;
    
    font-family: sans-serif;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 15%, rgba(46,46,46,1) 60%, rgba(0,0,0,1) 80%);
    
    
  }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
    overflow: hidden;
    
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    display: block;

    
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, #ffffff00 0%, orangered 75%, orangered 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-animation-timing-function: cubic-bezier(4, 2, 0, 3);
            animation-timing-function: cubic-bezier(4, 2, 0, 3);
  }
  
  .line:nth-child(1)::after {
    -webkit-animation-delay: 1s;
            animation-delay: 1.5s;
  }
  .line:nth-child(2)::after {
    -webkit-animation-delay: 1s;
            animation-delay: 2s;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 0.5s;
            animation-delay: 1.2s;
  }
  .line:nth-child(4)::after {
    -webkit-animation-delay: 0.6s;
            animation-delay: 1.1s;
  }
  .line:nth-child(5)::after {
    -webkit-animation-delay: 3s;
            animation-delay: 3.5s;
  }
  .line:nth-child(6)::after {
    -webkit-animation-delay: 1.8s;
            animation-delay: 2.6s;
  }
  .line:nth-child(7)::after {
    -webkit-animation-delay: 2.4s;
            animation-delay: 2.2s;
  }
  .line:nth-child(8)::after {
    -webkit-animation-delay: 1.2s;
            animation-delay: 0.6s;
  }
  .line:nth-child(9)::after {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.7s;
  }
  .line:nth-child(1) {
    margin-left: 5%;
  }
  .line:nth-child(3) {
    margin-left: 10%;
  }
  .line:nth-child(4) {
    margin-left: 15%;
  }
  .line:nth-child(5) {
    margin-left: 20%;
  }
  .line:nth-child(6) {
    margin-left: 25%;
  }
  .line:nth-child(7) {
    margin-left: 30%;
  }
  .line:nth-child(8) {
    margin-left: 35%;
  }
  .line:nth-child(9) {
    margin-left: 40%;
  }
  .line:nth-child(10) {
    margin-left: 45%;
  }
  .line:nth-child(11) {
    margin-left: 50%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  footer {
    text-align: center;
    
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
    position: relative;
}
footer [class*="fa-linkedin"] {
    font-size: 100%;
    color: #0077b5;
}
footer [class*="fa-github"] {
    font-size: 100%;
    color: #6298b4;
}
footer [class*="fa-envelope"] {
    font-size: 100%;
    color: #464747;
}
footer [class*="fa-"]:hover{ color: orangered;

}

.contactme{
  
  padding: 5rem;
  display: flex;
}
.section-blue{
  padding:10rem 5rem 0 5rem;
}
u{
  color:orangered;
}
@media (min-width: 550px) {
    #projects{max-width: 1350px;
        margin: 0 auto;
        display: grid;
        


}}
#welcome-section{
    margin:0 auto;
    padding: 15rem 1rem 1rem 1rem;
    max-width: 1200px;
    
}
#projects{
    padding:0 .5rem;
}
.project-tile{
    
    width:100%;
}
.project-heading{
    color: orangered;
    font-family: var(--sans)
}
.text{
    font-family: var(--mono);
    padding: 1rem;
    margin: auto;
    line-height: 40px;
    
   
    
    
    
}
ul{
    list-style-type: none;
}
.project-link{
    color: #464747;
  
    text-decoration:none;
    font-weight: bold;
    font-family: var(--sans);
    background-color: white;
    border: 1px solid white;
    padding: 7px;
    

  
}
@media (min-width: 800px) {
    article {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }
    #projects img {
      grid-column: 6/11;
      
    }
    .text {
      grid-column: 1/4;
      
     
      text-align: left;
      
      
    }}
    #projects .reverse .text{
        grid-column: 8/11;
        text-align: right;
        
        
    }
    #projects .reverse img{
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .project-heading{
        text-align: center;
    }
    img{
        
        border: 1px transparent;
        border-radius: 20px;
        padding-top: 0;
        margin: 0;
        height: 350px;
    }
    article{
        padding-top:2rem ;
    }